about-time==3.1.1
alive-progress==2.4.1
altgraph==0.17.2
async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
cryptography==37.0.2
decorator==4.4.2
distlib==0.3.4
easygui==0.98.3
et-xmlfile==1.1.0
Faker==13.13.0
filelock==3.7.1
fire==0.4.0
Flask==2.1.2
fonttools==4.33.3
fpdf==1.7.2
future==0.18.2
grapheme==0.6.0
h11==0.13.0
html5lib==1.1
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.7
importlib-metadata==4.11.4
itchat==1.3.10
itsdangerous==2.1.2
Jinja2==3.1.2
JPype1==1.4.0
libretranslatepy==2.1.1
lxml==4.9.0
MarkupSafe==2.1.1
moviepy==1.0.3
numpy==1.22.4
opencv-python==4.6.0.66
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
pandas==1.4.2
pdf2docx==0.5.3
pefile==2022.5.30
pgzero==1.2.1
pikepdf==5.1.5
Pillow==9.1.1
platformdirs==2.5.2
proglog==0.1.10
progress==1.6
pycparser==2.21
pygame==2.1.2
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymongo==3.2
PyMuPDF==1.19.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF2==2.2.0
pypng==0.0.21
PyQRCode==1.2.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-office==0.0.29
python-pptx==0.6.21
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
qrcode==7.3.1
reportlab==3.6.10
requests==2.28.0
rich==12.4.4
selenium==4.2.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
termcolor==1.1.0
tqdm==4.64.0
translate==3.6.1
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
webencodings==0.5.1
Werkzeug==2.1.2
wsproto==1.1.0
xlrd==2.0.1
XlsxWriter==3.0.3
xlutils==2.0.0
xlwings==0.27.10
xlwt==1.3.0
ybc-box==4.1.1
ybc-commons==0.6.3
ybc-exception==1.2.1
you-get==0.4.1612
zipp==3.8.0
