<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音乐下载器</title>
    <link rel="stylesheet" href="/static/css/h.css">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
	<style>
        a{
            color:blue;
            text-decoration: none;
        }
    </style>
</head>
<body>
	<a href="">{{a_name}}</a>
	<div align="right">
	    <a href="/user/{{user_name}}" class="z">前往我的主页</a>
	</div>
	<div class="box" style="padding: 0;">
	    <a href="/">主页</a>
	    <a href="/music_get" style="color:rgb(255,0,0);background-color:rgb(255,206,127);">音乐下载</a>
	    <a href="/translation">翻译</a>
	    <a href="/filter">滤镜</a>
		<!--<a href="/birthday">生日</a>-->
		<a href="/other">其他</a>
	</div>
	<form action="/get_music" method="get" onsubmit="jz()">
		<br><br>
		<div class="field-body">
			<span class="has-text-link has-text-centered has-text-weight-bold" style="padding-left: 30%">请输入你要下载的歌曲名：</span>
			<input type="text" class="column input is-link is-3 is-small" name="music_name" maxlength="30" required>
		</div>
		<br>
	    <br>
		<br>
		<center>
			<input type="submit" class="column button is-5 is-medium is-rounded is-link" value="提交">
		</center>
	</form>
	<br>
	<br>
    <h1 class="title column is-center is-size-1 has-text-danger" style="padding-top: 5%;text-align: center;">很抱歉暂时未找到：{{music_name}}这首歌!!!</h1>
</body>
</html>