<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/h.css">
	<link rel="stylesheet" href="/static/css/bulma.min.css">
	<style>
		@font-face {
			font-family: Font;
			src: url("/static/font/方正兰亭圆简体.ttf");
		}
	</style>
</head>
<body>
	{% if t == 1 %}
		<h1 class="is-size-1 has-text-link mt-6 ml-6" style="font-family: Font;">{{name}}</h1>
    {% endif %}
	<a href="">{{a_name}}</a>
    <div align="right">
        <a href="/user/{{user_name}}" class="z">前往我的主页</a>
    </div>
    <div class="box" style="padding: 0;">
        <a href="/" style="color:rgb(255,0,0);background-color:rgb(255,206,127);">主页</a>
        <a href="/music_get">音乐下载</a>
        <a href="/translation">翻译</a>
        <a href="/filter">滤镜</a>
		<!--<a href="/birthday">生日</a>-->
		<a href="/other">其他</a>
    </div>
</body>
</html>